<!-- SHOW SPLASH -->
<div class="main-container">
  <div class="container-fluid" ng-controller="propertiesShowController as propsShowCtrl">
    <div class="section-one" id="show-splash">
    	<span>{{propsShowCtrl.property.streetAddress}}</span>
    	<img class="splash-image" id="show-splash-image" ng-src="{{propsShowCtrl.property.showSplashImage}}" alt="{{propsShowCtrl.property.streetAddress}}">
   	</div>
  </div>

  <!-- SHOW ABOUT PROPERTY -->
	<div class="section-two container-fluid" id="show-about">
		<div class="row">
			<p text-center>{{propsShowCtrl.property.streetAddress}}, {{city}} {{state}}</p>
			<div class="col-xs-6">
				<p>House Image Goes Here</p>
			</div>
			<div class="col-xs-6">
				<h2 class="text-center">About Property</h1>
				<div class="row">
					<div class="col-xs-3">
						<p>New Construction 2016</p>
						<p>{{bedroomCount}} bedrooms</p>
						<p>{{bathCount}} baths</p>
						<p>2500 Sq. Feet</p>
					</div>
				</div>
			</div>
		</div>
	</div>

  <!-- SHOW PROPERTY HIGHLIGHTS -->
  <div class="section-three container-fluid" id="show-highlights">
    <p>PROPERTY HIGHLIGHTS</p>
	<p>Details:</p><br>
  </div>

  <!-- SHOW GALLERY -->
  <div class="section-four container-fluid" id="show-gallery">
    <p>GALLERY</p>
  </div>
</div>