<!-- SHOW SPLASH -->
<div class="main-container" ng-controller="propertiesShowController as propsShowCtrl">
  <div class="container-fluid">
    <div class="row section-one" id="show-splash">
      <div class="col-xs-6 col-xs-offset-3 text-center">
    	 <h2 class="text-center" id="show-address">{{propsShowCtrl.property.streetAddress}}<br>{{propsShowCtrl.property.city}}, {{propsShowCtrl.property.state}}</h2>
      </div>
    	<img class="splash-image" id="show-splash-image" ng-src="{{propsShowCtrl.property.showSplashImage}}" alt="{{propsShowCtrl.property.streetAddress}}">
   	</div>
  </div>

  <!-- SHOW ABOUT PROPERTY -->
	<div class="section-two container-fluid" id="show-about">
		<div class="row about-container">
			
      <div class="col-xs-6 col-xs-offset-1">
        <h2 class="text-center">About Property</h1>
        <h2 class="text-center">{{propsShowCtrl.property.streetAddress}}</h2>
        <ul class="show-about-list text-center">
          <li><h4>New Construction 2016</h4></li>
          <li><h4>{{propsShowCtrl.property.bedroomCount}} bedrooms</h4></li>
          <li><h4>{{propsShowCtrl.property.bathCount}} baths</h4></li>
          <li><h4>2500 Sq. Feet</h4></li>
        </ul>
      </div>
      <div class="col-xs-4 show-about-image-container">
				<img class="show-about-image" ng-src="{{propsShowCtrl.property.images[5]}}"</p>
			</div>
			
		</div>
	</div>

  <!-- SHOW PROPERTY HIGHLIGHTS -->
  <div class="section-three container-fluid" id="show-highlights">
  	<div class="row">
  		<div class="col-md-6" id="show-highlight-image-container">
  			<img id="show-highlight-image" ng-src="{{propsShowCtrl.property.images[1]}}">
  		</div>
  		<div class="col-md-6">
    		<h2 class="text-center">PROPERTY HIGHLIGHTS</h2>
			   <ul class="row">
          <li class="col-xs-6"><h2>1.</h2></li>
          <li class="col-xs-6"><h2>2.</h2></li><br><br>
          <li class="col-xs-6"><h2>3.</h2></li>
          <li class="col-xs-6"><h2>4.</h2></li>
         </ul>
		</div>
	</div>
  </div>

  <!-- SHOW GALLERY -->
  <div class="section-four container" id="show-gallery">
    <h2 class="text-center">GALLERY</h2>
    <ul class="row">
        <li ng-repeat="image in propsShowCtrl.property.images" class="show-gallery-li col-md-4">
        	<img class="show-gallery-images" ng-src="{{image}}">
        </li>
    </ul>
  </div>
</div>