<!-- SHOW SPLASH -->
<div class="main-container" ng-controller="propertiesShowController as propsShowCtrl">
  <div class="container-fluid">
    <div class="section-one" id="show-splash">
    	<span>{{propsShowCtrl.property.streetAddress}}</span>
    	<img class="splash-image" id="show-splash-image" ng-src="{{propsShowCtrl.property.showSplashImage}}" alt="{{propsShowCtrl.property.streetAddress}}">
   	</div>
  </div>

  <!-- SHOW ABOUT PROPERTY -->
	<div class="section-two container-fluid" id="show-about">
		<div class="row">
			<p text-center>{{propsShowCtrl.property.streetAddress}}, {{propsShowCtrl.property.city}} {{propsShowCtrl.property.state}}</p>
			<div class="col-xs-6">
				<img class="show-about-image" ng-src="{{propsShowCtrl.property.images[5]}}"</p>
			</div>
			<div class="col-xs-6">
				<h2 class="text-center">About Property</h1>
				<div class="row">
					<div class="col-xs-4">
						<p>New Construction 2016</p>
						<p>{{propsShowCtrl.property.bedroomCount}} bedrooms</p>
						<p>{{propsShowCtrl.property.bathCount}} baths</p>
						<p>2500 Sq. Feet</p>
					</div>
				</div>
			</div>
		</div>
	</div>

  <!-- SHOW PROPERTY HIGHLIGHTS -->
  <div class="section-three container-fluid" id="show-highlights">
  	<div class="row">
  		<div class="col-md-6" id="show-highlight-image-container">
  			<img id="show-highlight-image" ng-src="{{propsShowCtrl.property.images[1]}}">
  		</div>
  		<div class="col-md-6">
    		<h2 class="text-center">PROPERTY HIGHLIGHTS</h2>
			<p>Details:</p>
		</div>
	</div>
  </div>

  <!-- SHOW GALLERY -->
  <div class="section-four container" id="show-gallery">
    <h2 class="text-center">GALLERY</h2>
    <ul class="row">
        <li ng-repeat="image in propsShowCtrl.property.images" class="show-gallery-li col-md-4">
        	<img class="show-gallery-images" ng-src="{{image}}">
        </li>
    </ul>
  </div>
</div>