<!-- SPLASH -->
<div class="main-container" ng-controller="propertiesIndexController as propsIndexCtrl">
  <div class="container-fluid">
    <div class="section-one" id="index-splash"></div>
  </div>

  <!-- ALL PROPERTIES -->    
  <div class="section-two container-fluid" id="index-properties">
    <div class="row properties-row" id="properties-top-row">
      <div class="col-md-4 property-tile text-center" ng-repeat="property in propsIndexCtrl.properties">
        <a ng-href="properties/{{property._id}}">
          <h2>{{property.streetAddress}}</h2>
          <img class="properties-list-image" ng-src="{{property.showExteriorImage}}">
        </a>
      </div>
    </div>
  </div>

  <!-- OUR AGENT -->
  <div class="section-three container-fluid" id="index-agent">
    <p>AGENT PAGE</p>
  </div>

  <!-- GENERAL CONTACT -->
  <div class="section-four container" id="index-general-contact">
  
    <form class="contact-form">
      <div class="input-group">
        <h2 class="text-center">Send us a message</h2>
        <div class="row">
          <div class="col-xs-6">
            <input type="text" class="form-control" placeholder="First Name" aria-describedby="sizing-addon1">
          </div>
          <div class="col-xs-6">  
            <input type="text" class="form-control" placeholder="Last Name" aria-describedby="sizing-addon1">
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">  
            <input type="text" class="form-control" placeholder="Email" aria-describedby="sizing-addon1">
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">  
            <input type="text" class="form-control" placeholder="Phone Number" aria-describedby="sizing-addon1">
          </div> 
        </div>
        <div class="row">
          <div class="col-xs-12">
            <textarea type="text" class="form-control" placeholder="Message" aria-describedby="sizing-addon1"></textarea>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-6">
            <button type="button" class="btn btn-default">Submit</button>
          </div>
        </div>
      </div>
    </form>

  </div>
</div>