/********** SPLASH *********/
.section-one {
	height: 100vh;
	background-color: black;
}

/********** ALL PROPERTIES *********/

.section-two {
	width: 90%;
	height: 100vh;
	background-color: white;
}

.properties-row {
	height: 80vh;
	margin-top: 20vh;
}

.property-tile {
	height: 80%;
}

.properties-list-image {
	max-width: 100%;
	height: auto;
}

/********** AGENT *********/
.section-three {
	height: 100vh;
	background-color: black;
}

/********** GENERAL CONTACT *********/
.section-four {
	height: 100vh;
	background-color: white;
}
