/**********
***********
COLOR KEY

green: #c5d5cb;
blue: #9fa8a3;

***********
**********/
header {
	width: 100%;
	position: fixed;
	z-index: 5;
}

.collapse {
	background-color: #9fa8a3;
}

/********** SPLASH *********/
.section-one {
	height: 100vh;
}

#index-splash-image {
	height: 100%;
	width: 100%;
	overflow-y: hidden;
	size: cover;
/*	filter: grayscale(20%);
*/
}

/********** OUR SERVICES *********/

#index-services  {
	width: 90%;
	height: 50vh;
}

.service-icon-container {
	top: 50%;
	display: inline;
}

.service-icon {
	width: 100%;
}

.service-icon .lnr {
}

.service-icon-text {
    width: 100%;
    height: 50%;
    top: 50%;
}

.service-icon-text h2 {
    text-align: center;
}

/********** ALL PROPERTIES *********/
#index-properties {
	background-color: #c5d5cb;
	width: 100%;
}

.section-three {
	width: 90%;
	height: 100vh;
}

.properties-row {
	height: 80vh;
	margin-top: 20vh;
}

.property-tile {
	height: 80%;
}

.properties-list-image {
	max-width: 100%;
	height: auto;
}

/********** AGENT *********/
.section-four {
	height: 100vh;
}

#agent-portrait {
	max-width: 100%;
	height: auto;
}

.lnr {
  color: #0F52BA;
  font-size: 40px;
 }

/********** GENERAL CONTACT *********/
#index-general-contact {
 height: 100vh;
 background: 
        linear-gradient(
        rgba(34,34,34,0.88),
        rgba(34,34,34,0.88)
        ),
        url('https://github.com/laurakathleen/FW-Construction/blob/master/Images/La-Grande/La-Grande-View.png?raw=true');
    background-size:cover;
}

/**********
***********
SHOW PAGE
***********
**********/

/********** SHOW SPLASH *********/
#show-splash span {
	position: absolute;
	z-index: 2;
}

#show-splash-image {
	max-height: 100%;
	width: 100%;
	overflow-y: hidden;
}


/********** SHOW ABOUT PROPERTY *********/
#show-about {
	height: 100vh;
}

.show-about-image {
	width: 80%;
	margin: 0;
}

/********** SHOW HIGHLIGHTS PROPERTY *********/
#show-highlights {
	width: 100%;
	background-color: #c5d5cb;
}

#show-highlight-image-container {
	margin-left: 0;
}

#show-highlight-image {
	min-height: 100vh;
	min-width: 100%;
	overflow-x: hidden;
}

/********** SHOW GALLERY PROPERTY *********/
#show-gallery {

}

#show-gallery ul li {
	list-style: none;
	padding-bottom: 2.5%;
}

.show-gallery-images {
	max-width: 100%;
}
